@inherits StatementPage
@{
    EmailSubject = Config.OrgName + " Receipt";
    Kind = StatementKind.Receipt;
    Layout = "_StatementLayout";
}
@section Title {
    @Config.OrgName<br />
    @Info.StartDate.Year Contributions Summary
}
<p>
    Dear @Info.Person.FullName,</p>
<p>
    On behalf of @***Insert name here ***@ and @Config.OrgName, I would like to express
    my sincere gratitude and appreciation for your generous
    @(Info.Accounts.Sum(a => a.Payments.Count) == 1 ? "contribution" : "contributions")
    to our Shul.
</p>
<p>
    Below is your @Info.StartDate.Year annual contributions summary. If you have 
    any questions, please reply to this email.
</p>
<p>
    May your support of our Shul bring you ברכה and הצלחה in all of your endeavors.
</p>
<p>
    @Info.Deductibility</p>
<table cellspacing="0" style="margin: 0 auto;">
    @foreach (var account in Info.Accounts) {
        <thead>
            <tr>
                <th colspan="3" style="font-size: large; text-align: center; padding: 25px 0 7px 0; border-bottom: solid 2px black;">@account.AccountName
                </th>
            </tr>
        </thead>
        @Include("_Payments", account)
    }
</table>
<p>
    Sincerely,</p>
<p>
    @***Insert name here ***@
    <br />
    @Image("Signature.png", "Signature")<br />
    Treasurer
</p>
