@inherits StatementPage
@{
    EmailSubject = Config.OrgName + " Bill";
    Kind = StatementKind.Bill;
    Layout = "_StatementLayout";
}
@functions {
    public override bool ShouldSend { get { return Info.Accounts.Any(a => a.BalanceDue != 0); } }
}
@section Title {
    @Config.OrgName<br />
    Billing Statement
}





<p>
    Dear @Info.Person.FullName,</p>
<p>
    On behalf of @***Insert name here ***@ and @Config.OrgName, I would like to express
    my sincere gratitude and appreciation for your financial support and valued participation
    in our davening and learning. Through your generosity, support, and participation
    our Shul will continue to grow and thrive as a special place of Torah and Avodah.</p>
<p>
    Your total balance due is <b>@Info.TotalBalance.ToString("c")</b>. Please review
    the summary below. If you have any questions regarding the pledges or payments contained
    herein, please reply to this email.
</p>
<p>
    Thank you.</p>
<table cellspacing="0" style="margin: 0 auto;">
    @foreach (var account in Info.Accounts) {
        <tr>
            <th colspan="3" style="padding-top: 25px; border-bottom: solid 2px black;">
                @account.AccountName Pledges</th>
        </tr>

        @Include("_Pledges", account)
        <tr>
            <th colspan="3" style="padding-top: 25px; border-bottom: solid 2px black;">
                @account.AccountName Payments </th>
        </tr>
        @Include("_Payments", account)
    }
    <tr>
        <td colspan="2" style="padding-top: 15px">Total Pledged:</td>
        <td style="padding-top: 15px; text-align: right;">
            @Info.TotalPledged.ToString("c") </td>
    </tr>
    <tr>
        <td colspan="2">Total Paid:</td>
        <td style="text-align: right;">- @Info.TotalPaid.ToString("c")</td>
    </tr>
    <tr>
        <td colspan="2" style="padding-top: 5px; border-top: solid 1px black; border-bottom: solid 2px black;">Balance due: </td>
        <td style="padding-top: 5px; text-align: right; border-top: solid 1px black; border-bottom: solid 2px black;">
            <b>
                @Info.TotalBalance.ToString("c")</b></td>
    </tr>
</table>
@if (Info.TotalBalance > 0) {
    <p>To pay your balance securely by credit card, <a href="https://@Config.DomainName/Donate">go to our website</a>.</p>
    <p>
        If you would like to pay by check, please make your checks payable to 
        <b>@Config.LegalName</b>, and mail your remittance to:
    </p>
    <blockquote>
        <p>
            @MultiLine(Config.MailingAddress.Trim())
        </p>
    </blockquote>
}
<p>
    Sincerely,</p>
<p>
    @***Insert name here ***@
    <br />
    @Image("Signature.png", "Signature")<br />
    Treasurer
</p>
